@charset "utf-8";
@font-face {
  font-family: 'iconitos';
  src: url("../fonts/icomoon.eot?nwmkrn");
  src: url("../fonts/icomoon.eot?#iefixnwmkrn") format('embedded-opentype'), url("../fonts/icomoon.woff?nwmkrn") format('woff'), url("../fonts/icomoon.ttf?nwmkrn") format('truetype'), url("../fonts/icomoon.svg?nwmkrn#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: #dd4f24;
}
body {
  background-image: url("../img/fondo.png");
  color: #444;
  font-size: 16px;
  font-family: "Cinzel";
}
footer {
  background: #a3a3a3;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  opacity: 0.7;
}
footer h3 {
  font-size: 14px;
  font-weigth: normal;
}
footer h3 strong {
  display: block;
}
footer h3 .mejor:before,
footer h3 .mejor:after {
  content: " - ";
}
header {
  background: #444;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
  color: #fff;
  padding: 0.5em;
  position: relative;
  overflow: hidden;
  text-align: left;
  z-index: 1;
}
header .titular {
  margin: 0px 60px 0 260px;
  padding: 10px 0px 0px 10px;
  border-left: 1px solid #22bce0;
}
header .titular .filtro {
  color: #22bce0;
  font-weigth: bold;
  font-style: italic;
  text-decoration: none;
}
header .titular .publicar {
  background: #dd4f24;
  color: #fff;
  float: right;
  font-style: italic;
  margin: -5px 1em 0 0;
  padding: 0.2em 0.5em;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
  font-family: "iconitos";
}
header .titular .publicar:before {
  content: "\e600";
}
header .titular .titulo {
  font-size: 25px;
  font-weigth: normal;
  margin: 0;
  padding: 0;
}
header .usuario {
  position: absolute;
  right: 20px;
  top: 0;
}
header .usuario img {
  width: 48px;
  border-radius: 50%;
  top: 20px;
  right: 10px;
  position: relative;
  z-index: 2;
}
.notica1{
background: rgba(0,0,0,0.4);
color: #fff;
margin: 35px 0px 0px 0px; 
padding: 10px;
text-align: left;
text-align: justify;
}
.notica1 span{
  font-size: 20px;
}
.comparte {
  padding: 0px 0px 10px 0px;
  margin: -56px 170px 0px 0px;
  color: #78ddf4;
  float: right;
}
.redes img {
  opacity: 0.6;
}
@-webkit-keyframes rotater1 {
  0% {
    -webkit-transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
  }
}
.redes img:hover {
  opacity: 1;
/* safari / chrome */
  -webkit-animation-name: rotater1;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
/* mozilla */
  -moz-transform: rotate(360deg) scale(2);
  -moz-transition-duration: 1.5s;
  -moz-transition-timing-function: ease-out;
/* opera */
  -o-transform: rotate(360deg) scale(2);
  -o-transition-duration: 1.5s;
  -p-transition-timing-function: ease-out;
/* ie */
  -ms-transform: rotate(360deg) scale(2);
  -ms-transform-duration: 1.5s;
  -ms-transform-timing-function: ease-out;
  z-index: 1000;
}
.logo {
  position: absolute;
  top: -10px;
  left: -25px;
  width: 280px;
  z-index: 100;
}
.logo img {
  width: 300px;
}
nav {
  background: #22bce0;
  height: 40px;
  position: relative;
  border-left: 10px solid #fff;
}
nav:before {
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  border-top: 20px solid transparent;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
nav .menu {
  line-height: 40px;
  margin: 0px 0px 0px 25px;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}
nav .menu li {
  display: inline-block;
  border-right: 1px solid #3195ac;
}
nav .menu li a {
  color: #fff;
  display: block;
  margin: 0 0.5em;
  padding: 0;
  text-decoration: none;
}
nav .menu li .home {
  float: right;
  padding: 0px 100px 0px 20px;
}
nav .menu li .home:before {
  font-family: "iconitos";
  font-size: 20px;
  content: "\e610";
}
nav .menu li .home:hover {
  background: #79d2e6;
}
nav .menu li .producto:before {
  font-family: "iconitos";
  font-size: 20px;
  content: "\e611";
}
nav .menu li .producto:hover {
  background: #79d2e6;
}
nav .menu li .contacto:before {
  font-family: "iconitos";
  font-size: 20px;
  content: "\e602";
}
nav .menu li .contacto:hover {
  background: #79d2e6;
}
.bloque1 {
  text-align: center;
}
.menu2 {
  background: #ebeeef;
  border-radius: 20px;
}
.menu2 li {
  display: block;
  padding: 15px;
  border-bottom: solid 2px #fff;
  margin: 0px 0px 0px -32px;
  text-align: left;
  font-size: 18px;
}
.menu2 li a:after {
  font-family: "iconitos";
  font-size: 20px;
  content: "\e60b";
  float: right;
}
.bloque10:after {
  font-family: "iconitos";
  font-size: 20px;
  content: "\e600" !important;
  float: right;
}
.menu2 li a {
  text-decoration: none;

}
.menu2 li:last-child {
  border-bottom: none;
}
.horario {
  text-align: center;
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
  color: #fff;
  margin: 20px 0px 0px 0px;
  padding: 10px;
}
.horario:before {
  font-family: "iconitos";
  font-size: 20px;
  content: "\e603";
}
.principal {
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
  color: #fff;
  margin: 0px 0px 0px 0px;
}
.principal .descripcion {
  margin: 0px 15px 0px 15px;
  padding: 15px;
}
.container {
  background: rgba(0,0,0,0.6);
  margin: 20px 0px 0px 0px;
}
.container h2 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}
.container .guia {
  text-align: center;
  color: #fff;
}
#slider {
  margin: 20px 20% 0px 20%;
}
.fotos {
  width: 150px;
  height: 200px;
}
.conte {
  margin: 0px 10px 0px 10px;
}
.nota {
  text-align: center;
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
  color: #fff;
  margin: 20px 0px 0px 0px;
  padding: 10px;
}
.informacion {
  text-align: center;
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
  color: #fff;
  margin: 20px 0px 0px 0px;
  padding: 10px;
}
.informacion p:before {
  font-family: "iconitos";
  content: "\e604";
}
.informacion p:first-child:before {
  font-family: "iconitos";
  content: "\e601";
}
form {
  color: #fff;
}
form textarea {
  color: #000;
}
button{
  background: #333;
  border: none;
  color: none;
  margin: auto;
}
.boton {
  color: #fff;
  background: #22bce0;
 
}
.boton2:after {
  font-family: "iconitos";
  content: "\e60e";
  color: #008000;
}
.boton1:after {
  font-family: "iconitos";
  content: "\e60d";
  color: #f00;
}

.bloque11{
  margin-top: 20px;
}
.imagen{
  margin-left: 15%;
  margin-bottom: 25px;
  width: 260px;
  height: 310px;
  background-size: 260px 310px !important;
  background: no-repeat;

}

/* Aqui es para las img de productos*/
.it1 {

  background-image: url(../img/images/foto1.jpg);
}
.it2 {
  background-image: url(../img/images/foto2.jpg);
}
.it3 {
  background-image: url(../img/images/foto3.jpg);
}
.it4 {
  background-image: url(../img/images/foto4.jpg);
}

.it5 {
  background-image: url(../img/images/foto5.jpg);
}

.it6 {
  background-image: url(../img/images/foto6.jpg);
}



.info {
  overflow: hidden;
  position: absolute;
   width: 260px;
  height: 310px;
  background-color: rgba(31,31,31,0.6);
  -webkit-transition: opacity 0.2s;
  opacity: 0;
}
.imagen:hover .info {
  opacity: 1;
}
.info3 {
  font-size: 18px;
  position: relative;
  color: #000;
  padding: 7px 14px;
  text-align: center;
  margin-left: -500px;
  -webkit-transition: margin 0.5s;
  display: inline-block;
  text-decoration: none;
   background-color: #FAB5FF;
  /*background-color: #db7f08;*/
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 2px #333;
  -moz-box-shadow: 0 0 2px #333;
  box-shadow: 0 0 2px #333;
}
.info4 {
  font-size: 18px;
  position: absolute;
  color: #000;
  width: 100%;
  padding: 7px 14px;
  text-align: center;
  margin-left: -500px;
  -webkit-transition: margin 0.5s;
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 2px #333;
  -moz-box-shadow: 0 0 2px #333;
  box-shadow: 0 0 2px #333;
}

.imagen:hover .info3 {
  margin-top: -20px;
  margin-left: 85px;
}
.imagen:hover .info4 {
  margin-top: 95px !important;
  margin-left: 0px;
}
.imagen:hover .it21 {
  margin-top: 70px !important;
  margin-left: 0px;
}
.headline {
  font-size: 23px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
  margin-top: 12%;
  margin-left: -700px;
  -webkit-transition: margin 0.5s;
}
.info2 {
  font-size: 18px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
  margin-top: 12%;
  margin-left: -700px;
  -webkit-transition: margin 0.5s;
}
.imagen:hover .headline {
  margin-top: 30px;
  margin-left: 0px;
}
.imagen:hover .info2 {
  margin-top: -20px;
  margin-left: 0px;
}

#fade
{
  background-color: rgba(1,1,1,0.9);
  display: none;
  filter: alpha(opacity=70);
  height: 100%;
  left: 0%;
  moz-opacity: 0.7;
  opacity: .70;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1001;
}
#fade1
{
  background-color: rgba(1,1,1,0.9);
  display: none;
  filter: alpha(opacity=70);
  height: 100%;
  left: 0%;
  moz-opacity: 0.7;
  opacity: .70;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1001;
}
#light
{
  background: #EDF4FF;
  display: none;
  overflow: visible;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 30%;
  left: 30%;
  right: 30%;
  z-index: 1002;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #333;
}
#light p
{
  color: #FF0;
}
#light1,#light2,#light3,#light4,#light5
{
  background: #EDF4FF;
  display: none;
  overflow: visible;
  padding: 0;
  margin: auto;
  position: relative;
  top: 30%;
  z-index: 1002;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #333;
}
#light6
{
  background: #EDF4FF;
  display: none;
  overflow: visible;
  padding: 0;
  margin: auto;
  position: relative;
  top: 5%;
  z-index: 1002;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #333;
}
.item{
  margin: 10px;
  
}
.titulo-i{
  font-size: 15px;
  padding-bottom:10px;
  border-bottom: solid 2px #000;
}
h4{
  margin:0;
  padding: 12px 0px 15px 20px;
  background: #22bce0;
  text-align: center;
  color: #000;
}

.texto-i{
  padding: 0;
  margin: 10px 10px 20px 10px;
  color: #000;
}
.texto-i p{
  margin: 5px 0px 20px 25px;
  color: #000;
}
.formr label{
  color: #000;
}
.formr input{
  color: #000;
  background: #fff !important;
  border: solid 1px #ccc !important;
}
.formr span{
  color: #000;
  background: #fff !important;
}
.link{
  margin: 0px 0px 0px 110px;
  padding: 12px 15px;
  background: #F77427;
  color: #fff;
}
.item5{
  margin: 0px 0px 0px 130px;
  padding: 12px 15px;
  background: #F77427;
  color: #fff;
}
.item8{
  padding: 0px 15px 15px 15px;
  cursor: pointer;
}
.item9{
  padding: 0px 15px 15px 15px;
  cursor: pointer;
}
.link:hover{
  background: #E86D25;
  color: #fff;
}

.marca {
  display: block;
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-size: 0.8em;
}


.public{
  margin: 10px 0px 0px 0px;
  border: solid #000 1px;
  height: 80px;
}

.public1{
  margin: 20px 0px 0px 0px;
  float: left;
  border: solid #000 1px;
  height: 200px;
  width: 200px;
}

.public2{
  float: right;
  margin: -240px 0px 0px 0px;
  border: solid #000 1px;
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .usuario {
    display: none;
  }
  .comparte {
    display: none;
  }
  #slider {
    margin: 20px 20% 0px 0px;
  }
  header {
    background: #444;
    box-shadow: 0 5px 0 rgba(0,0,0,0.2);
    color: #fff;
    padding: 0.5em;
    position: relative;
    overflow: hidden;
    text-align: left;
    z-index: 1;
  }
  header .titular {
    margin: 0px 60px 0 130px;
    padding: 10px 0px 0px 10px;
    border-left: 1px solid #22bce0;
  }
  .logo {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 280px;
    z-index: 100;
  }
  .logo img {
    width: 150px;
  }
  nav {
    background: #22bce0;
    height: 40px;
    position: relative;
    border-left: 10px solid #fff;
  }
  nav:before {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    border-top: 20px solid transparent;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  nav .menu {
    line-height: 40px;
    margin: 0px 0px 0px 25px;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
  }
  nav .menu li {
    display: inline-block;
    border-right: 1px solid #3195ac;
  }
  nav .menu li a {
    color: #fff;
    display: block;
    margin: 0 0.5em;
    padding: 0;
    text-decoration: none;
  }
  nav .menu li .home {
    float: right;
    padding: 0px 10px 0px 20px;
  }
  nav .menu li .home:before {
    font-family: "iconitos";
    font-size: 20px;
    content: "\e610";
  }
  .imagen{
    margin: auto;
    margin-bottom: 30px;
  }
}
